.alert-success {
  background-color: transparentize(#49b2e2, 0.8);
  color: #023047;
  border: none;
}

.alert-danger {
  background-color: transparentize(#fb8500, 0.8);
  color: #023047;
  border: none;
}
